.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    max-width: 1120px;
    margin: auto;
    margin-top: 30px;
    
}
.products-container{
    background-color: white;
}
.card-container{
    background-color: aquamarine;
    height: 100vh;
}